
  /* Set Up */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* End Set Up */

/* Body Alterations */
body{
  font-family: "Georgia";
  /* background-color: #000000; */
  background-color:white;
  /* color: #F8F8FF; */
  color: black;
}

.container-fluid{
  padding: .05% 10%;
}

.jumbotron{
  /* background-color: #6495ED; */
  background-color: lightseagreen;
  text-align: center;
  padding: 1%;
}

p.one {
  border-style: solid;
  border-color: white;
  padding: 1% 1%;
}

h1.display-4{
  border-style: solid;
  border-color: white;
  /* border-color: black; */
  padding: 1% 1%;
}

.btn-primary{
  padding: 1%;
}
/* End Body ALterations */

/* Logo */
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 25px;
  font-weight: bold;
  /* border-style: solid;
  border-color: white; */
}
/* End Logo */

/* NavBar Alteration */
nav{
  background: #000000;
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover{
  /* background: #6495ED; */
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
      font-size: 30px;
      padding-left: 50px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  a:hover, a.active{
      background: none;
      color: #0082e6;
  }
  #check:checked ~ ul{
      left: 0;
  }
}
/* End NavBar Alterations */

/* Carousel Alteration */
.carousel-inner img {
  width: 100%;
  height: 100%;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  position: absolute;
  top: 80%;
  transform: translateY(-20%);
}

.carousel-caption h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: Azure;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 20px 20px 100px black;
}

.carousel-caption h3 {
  font-family: Impact, Charcoal, sans-serif;
  color: Azure;
  font-size: 200%;
  font-weight: 500;
  /* text-shadow: 15px 15px 50px black; */
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  padding-bottom: 1rem;
}

.carousel-caption .btn {
  font-synthesis: 95%;
  padding: 8px 14px;
}


/* End Icon Alterations */

/* Card Alterations */
.card {
  box-shadow: 0 4px 8px 0 Azure;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  color: #000000;
}

.card-img-top{
  padding: 2.5% 2.5%;
}

/* Miscellaneous Alterations */
img.one{
  border-style: solid;
  border-color: white;
  padding: 1% 1%;
}

.carousel-inner{
  width: 90%;
  left:5%;
}