* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
  }
  
  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    /* min-width: 500px !important; */
  }
  
  
  /* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
  .wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
  }
  
  /* The footer is positioned at the bottom of the page */
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100px;
    background: #4e5d6c;
  }
  
  /* The code styles the text at the bottom of the footer */
  .footer > .bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #1b3146;
  }
  
  .navbar {
    padding: 5px;
    margin: 0;
    background-color: #1b3146;
  }
  
  div .navbar-header{
    background-color: #1b3146;
  }

  .navbar-header a{
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 1.65rem;
    /* padding: 0.75rem 0; */
    display: block;
    border: 1px solid transparent;
    /* border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; */
  }
  /* .navbar-header a:hover {
    color: #c8cbcf;
  } */
  
  /* This CSS styles the ufo icon in the navbar */
  .nav-ufo {
    position: absolute;
    bottom: 5px;
    left: 150px;
    width: 35px;
    color: white;
  }
  
  /* Adding styles to the aside and filter form */
  .ufo-form {
    margin-top: 50px;
  }
  
  .filters .panel-body {
    padding: 0;
  }
  
  .filters {
    margin-top: 10px;
  }
  
  select {
    display: block;
    width: 100%;
    padding: 8px;
    color: #8e979f;
    outline: none;
  }
  
  #table-area th {
    text-align: center;
  }
  
  #table-area th:first-child,
  #table-area th:nth-child(2),
  #table-area th:nth-child(6) {
    min-width: 70px;
  }
  
  .loader {
    margin-top: 50px;
  }
  
  .margin-top-50 {
    margin-top: 50px;
  }
  
  /* The styles for the parallax */
  .hero {
    position: relative;
    height: 200px;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url("../assets/img/background_34926-201.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
  
  .hero h1 {
    margin-top: 10px;
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
  }
  
  .hero p {
    font-size: 2rem;
    opacity: 0;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
  }
  
  /* input placeholder color changes */
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8e979f;
  }
  
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #8e979f;
  }
  
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #8e979f;
  }
  
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #8e979f;
  }
  
  table{
    border-style: solid; 
    border-width: thin;
    border-color: aliceblue; 
  }
  
  thead{
    font-size: small;
    background-color: #1b3146;
  }
  
  div .panel-heading{
    background-color: #1b3146;
  }

  td{
    background-color:  #4e5d6c;
    text-align: center;
  }
  
  /* tr.odd td{
    background-color: tomato;
  } */

  /* tr.even td{
    background-color:  #2b3e50;
  } */
  
  
  /* media queries which will only be activated at specific screen sizes */
  @media (max-width: 800px) {
    #table-area td {
      font-size: 1em;
    }
  }
  
  @media (max-width: 500px) {
    #table-area thead {
      display: none;
    }
  
    #table-area tr td:first-child {
      font-size: 1.8em;
      font-weight: bold;
      background: #1b3146;
    }
  
    #table-area tr td:last-child {
      margin-bottom: 20px;
    }
  
    #table-area tr td:last-child::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 20px;
      content: " ";
      background: aliceblue;
    }
  
    #table-area td {
      font-size: 1.25em;
    }
  
    #table-area tbody td {
      display: block;
      text-align: center;
    }
  
    #table-area tbody td::before {
      display: block;
      font-size: 1.4em;
      font-weight: bold;
      text-align: center;
      content: attr(data-th);
    }
  
    .hero h1 {
      animation: smaller-title 1.2s forwards linear;
    }
  }
  
  /* keyframe animations which will be used to animate the title */
  @keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  }
  
  @keyframes smaller-title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 5.5rem;
      opacity: 1;
    }
  }
  
  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  /* Define the hover style for the links */
.hoverTable td:hover {
  color: #ffffff;
  background: sienna;
}

.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  }
.table-wrapper-scroll-y {
display: block;
}

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl {
  max-width: 500px;
} 
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box {
  position: relative;
  display: block;
} 
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  left:10px;
  right: 10px; 
  top: 10px;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.page-section {
  padding: 2rem 0;
}

.portfolio.pos_left {
  position: relative;
  left: -30px;
}

/* .col-md-12{
  position: absolute; 
} */

h2 {
  color: teal; 
  text-align: center;
}